<template name="Forum">
	<div class="container" id="content">
		<h2 id="page_title">
			Forum
		</h2>
		{{> ForumForumView}}
	</div>
</template>

<template name="ForumForumView">
	<div id="dataview" class="">
		<h2 id="component-title">
			Forum Posts
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> ForumForumViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No Forum Posts
		</div>
		{{/if}}
	</div>
</template>

<template name="ForumForumViewTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="title">
					Question Title
				</th>
				<th class="th-sortable" data-sort="text">
					Question Content
				</th>
				<th class="th-sortable" data-sort="topic">
					Topic
				</th>
				<th class="th-sortable" data-sort="owner_id">
					Owner
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> ForumForumViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="ForumForumViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{title}}
		</td>
		<td>
			{{text}}
		</td>
		<td>
			{{topic}}
		</td>
		<td>
			{{owner_id}}
		</td>
	</tr>
</template>

