/*****************************************************************************/
/* Nearbyevents: Style */
/*****************************************************************************/

#barIcon {
	color: black;
}

.settIco{
	position: absolute;
	top: -3px;
	right: 10px;
	height: 29px;
}
