/*****************************************************************************/
/* Myevents: Style */
/*****************************************************************************/

p#backButton1 {
	color: white;
}

.positionHeader1 {
	position: absolute;
	top: 0;
	left: 40vw;
	color: white;
}