
<template name="myeventsEmptyData">

	<div class="emptydata">
		<img src="../img/icon_events_green.png" />
		<p>Events that you RSVP for will appear here.<br />Right now, you are not going for any events</p>
		<a class="btn btn-primary" href="{{pathFor 'search'}}">Search for Events</a>
	</div>

</template>

<template name="newsfeedEmptyData">

	<div class="emptydata">
		<img src="../images/icon_newsfeed_green.png" />
		<p>Join Mosques and Follow Imams to discover events and stay updated with the community.</p>
		<a class="btn btn-primary" href="{{pathFor 'search'}}">Search here</a>
	</div>

</template>

<template name="searchEmptyData">

	<div class="emptydata">
		<img src="../images/icon_search_green.png" />
		<p>Oops. Your search returned no results. Maybe try another search?</p>

	</div>

</template>

<template name="bookmarkEmptyData">

	<div class="emptydata">
		<img src="../images/icon_bookmark.png" />
		<p>You can add bookmarks when reading the Quran so it is easier to refer to.</p>

	</div>

</template>

<template name="noeventsmosqueEmptyData">

	<div class="emptydata">
		<img src="../img/icon_events_green.png" />
		<p>There are no upcoming events. Join the Mosque to be updated when there is a new event.</p>

	</div>

</template>

<template name="noeventsimamEmptyData">

	<div class="emptydata">
		<img src="../img/icon_events_green.png" />
		<p>There are no upcoming events. Follow the Imam to be updated when there is a new event.</p>

	</div>

</template>

<template name="noamenitiesmosqueEmptyData">

	<div class="emptydata">
		<img src="../img/icon_amenities_green.png" />
		<p>There are no amenities listed for this mosque.</p>
	</div>

</template>

<template name="noamenitiesuserEmptyData">

	<div class="emptydata">
		<img src="../img/icon_amenities_green.png" />
		<p>You can book mosque amenities through Imarah.<br />Booked amenities will be listed here.</p>
	</div>

</template>

